<div class="card" style="width: 20rem;">
  <div class="card-body">

    <!-- Titulo/Logo -->
    <div class="text-center">
      <img src="../../assets/logo-agrupador.png" class="img-fluid float-center" style="margin-bottom:10px">
    </div>

    <!-- Formulario de login -->
    <form [formGroup] = "formulario" (ngSubmit)="autenticar()"> 
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
        >
      </div>
      <button type="submit" class="btn btn-info btn-sm btn-block">Entrar</button>
    </form> 
    <hr />
  </div>
</div>

<br />

<!-- Opção de transicao para o painel 'cadastro' -->
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta? <a href="javascript:void(0);" (click)="exibirPainelCadastro()" class="card-link">Cadastre-se</a>
    </p> 
  </div>
</div>